{{#if logged_in}}
{{!-- Order form for the user to fill out their information --}}
<div class="border rounded-lg shadow-md max-w-lg mx-auto p-4 mt-4">
  <form action="">
    <div hidden>
      {{!-- User id and the product id of the product the user is ordering is stored in here --}}
      <div class="mb-4">
        <label for='userId' class="block text-sm font-medium text-gray-600">User ID</label>
        <input id="userId" type='text' value='{{user}}' class="mt-1 p-2 w-full border rounded-md" required />
      </div>
      <div class="mb-4">
        <label for='productId' class="block text-sm font-medium text-gray-600">Product ID</label>
        <input id="productId" type='text' value ='{{product.id}}' class="mt-1 p-2 w-full border rounded-md" placeholder='Enter Address' required />
      </div>
    </div>
    {{!-- Beginning of where the user inputs their information such as address, quantity, etc --}}
    <div class="mb-4">  
      <label for='address' class="block text-sm font-medium text-gray-600">Address:</label>
      <input id="address" type='text' class="mt-1 p-2 w-full border rounded-md" placeholder='Enter Address' required />
    </div>
    <div class="mb-4">
      <label for='Quantity' class="block text-sm font-medium text-gray-600">Quantity:</label>
      <input id="quantity" type='text' class="mt-1 p-2 w-full border rounded-md" placeholder='Enter Quantity' required />
    </div>
    <div class="mb-4">
      <label for='City' class="block text-sm font-medium text-gray-600">City:</label>
      <input id="city" type='text' class="mt-1 p-2 w-full border rounded-md" placeholder='Enter City' required />
    </div>
    <div class="mb-4">
      <label for='State' class="block text-sm font-medium text-gray-600">State:</label>
      <input id="state" type='text' class="mt-1 p-2 w-full border rounded-md" placeholder='Enter State' required />
    </div>
    <div class="mb-4">
      <label for='Zipcode' class="block text-sm font-medium text-gray-600">Zipcode:</label>
      <input id="zipcode" type='text' class="mt-1 p-2 w-full border rounded-md" placeholder='Enter Zipcode' required />
    </div>

  <div class="mb-4">
    {{!-- Field for payment information, only a placeholder drop down for now but in later developments, we can add actual payment methods --}}
    <label for="payment-method" class="block text-sm font-medium text-gray-600">Payment Method</label>
    <select name="payment-method" id="payment-method" class="mt-1 p-2 w-full border rounded-md">
      <option value="Card">Card</option>
      <option value="PayPal">PayPal</option>
      <option value="COD">COD</option>
      <option value="Visa">Visa</option>
    </select>
  </div>
  </form>

  <div class="mt-4">
    <button id="orderButton" class="inline-block bg-blue-500 text-white rounded px-4 py-2 hover:bg-blue-600">Submit</button>
  </div>

</div>
{{else}}
{{!-- If the user is not logged in and they somehow manage to reach this page, a message is shown telling them they need to login --}}
<div class="bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative mt-4 max-w-md mx-auto" role="alert">
    <p>You need to log in to order products</p>
</div>
{{/if}}

<script src="/js/order.js"></script>