{{#if logged_in}}
<div>
  <form action="">
    <label for='userId'>User ID</label>
    <input id="userId" type='text' value='{{user}}' required />

    <label for='productId'>Product ID</label>
    <input id="productId" type='text' value ='{{product.id}}' placeholder='Enter Address' required />

    <label for='address'>Address:</label>
    <input id="address" type='text' placeholder='Enter Address' required />

    <label for='Quantity'>Quantity:</label>
    <input id="quantity" type='text' placeholder='Enter Quantity' required />

    <label for='City'>City:</label>
    <input id="city" type='text' placeholder='Enter City' required />

    <label for='State'>State:</label>
    <input id="state" type='text' placeholder='Enter State' required />

    <label for='Zipcode'>Zipcode:</label>
    <input id="zipcode" type='text' placeholder='Enter Zipcode' required />

<select name="payment-method" id="payment-method">
  <option value="Card">Card</option>
  <option value="PayPal">PayPal</option>
  <option value="COD">COD</option>
  <option value="Visa">Visa</option>
</select>
  <button id="orderButton">Submit</button>
  </form>
</div>
{{else}}
<div class="alert alert-warning" role="alert">
    <p>You need to log in to order products</p>
</div>
{{/if}}

<script src="/js/order.js"></script>