<!DOCTYPE html>
<html lang='en'>
  
<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="/css/output.css">
    <link rel='stylesheet' href='../../public/css/style.css' />
    <title>Meal Kit Store</title>
</head>

<body class="bg-gray-100">
    <header class='bg-blue-500 p-2 flex justify-between items-center'>
        <a href='/'>
            <h1 class="text-white text-2xl font-bold">
                Techsperts Meal Kit Store
            </h1>
        </a>
        <nav>
            {{#if logged_in}}
            <a href='/logout' id="logout" class="text-white ml-2">Logout</a>
            {{else}}
            <a href='/login' class="text-white mr-2">Login</a>
            <a href='/login' class="text-white">New User</a>
            {{/if}}
        </nav>
    </header>
    <main class='container mx-auto mt-5'>
        <img src='/assets/mealkit-background.jpg' alt='Background Image' class="w-full" />
        {{{body}}}
    </main>
    <footer class="bg-blue-500 p-2 text-white text-center">
        &copy; 2023 Techsperts Meal Kit Store
    </footer>
    <script src='/js/logout.js'></script>
</body>

</html>