<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Meal Kit Store</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <header class='display-flex justify-space-between align-center p-2'>
      <a href=''>
        <h1>
          Techsperts Meal Kit Store
        </h1>
      </a>
      {{!-- {{#if logged_in}} --}}
      <nav>
        <a href=''>Login</a>
        <a href=''>New User</a>
      </nav>
      {{!-- {{/if}} --}}
    </header>
    <main class='container container-fluid mt-5'>
      <img src='' alt='Background Image' />
      {{{body}}}
    </main>
    <footer>
    </footer>
    <script src='/js/logout.js'></script>
  </body>

</html>