<main>
  <div>
    {{!-- Takes to products page --}}
    <button> Browse Meal Kits</button>
    {{!-- Drop down menu to select styles --}}
    <form action="">
      <label for="style">Choose a Style of Meal:</label>
      <select name="style" id="style">
        <option value="American">Mexican</option>
        <option value="Japanese">Italian</option>
        <option value="Chinese">American/continental</option>
        <option value="Greek">Asian</option>
        <option value="Greek">Seafood</option>
        <option value="Greek">Mediteranean</option>
        <option value="Greek">Vegitarian</option>
      </select>
    </form>
    {{!-- Drop down menu to select protein --}}
    <form action="">
      <label for="style">Choose a protein for your Meal:</label>
      <select name="protein" id="protein">
        <option value="Chicken">Chicken</option>
        <option value="Beef">Beef</option>
        <option value="Pork">Pork</option>
        <option value="Plant-Based">Fish</option>
        <option value="Plant-Based">Tofu</option>
        <option value="Plant-Based">Vegitarian</option>
        <option value="Plant-Based">Lamb</option>
      </select>
    </form>
  </div>
</main>
