{{!-- order form  --}}
<div>
  <div>
    <img src='{{product.picture}}' alt='Picture of Meal Kit' />
  </div>
  <div>
    <h3>{{product.product_name}}</h3>
    <p>{{product.product_description}}</p>
  </div>
</div>

{{> order-details}}