{{#each products as |product|}}
  <div>
    <div>
      <img src='{{picture}}' alt='Picture of Meal Kit' />
    </div>
    <div>
      <h3><a href="/api/products/{{this.id}}">{{product_name}}</a></h3>
    </div>
  </div>
{{/each}}